## Конфигурационный файл elibrary_analyzer

# Веб-прокси (после нее будет вставляться ссылка вида: "https://elibrary.ru/...")
web_proxy = https://app.scrapingbee.com/api/v1/?api_key=UQ4XVODPXTF1OJW9JUE297JYEVUQTFDQ1GO5BC6HBGQPER7HJJBNWHHVMYWHF0UOXLYA5GKLWA6Q9TKN&url=

# Использование headless контекста
headless = true